body {
    font-family: Arial;
    text-align: center;
    background: #f8f8f8;
}

/* Sudoku grid */
#sudoku-grid {
    margin: 20px auto;
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}

/* Cada celda */
.cell {
    background: white;
    border: 1px solid #ccc; /* borde fino por defecto */
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    outline: none;
    position: relative;
}

/* Bordes gruesos para bloques de 3x3 */
.border-top { border-top: 3px solid black; }
.border-bottom { border-bottom: 3px solid black; }
.border-left { border-left: 3px solid black; }
.border-right { border-right: 3px solid black; }

/* Input dentro de las celdas */
.cell input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 22px;
    text-align: center;
}

#timer {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.notes {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.5em;
    color: gray;
    pointer-events: none; /* para que no interfiera con el input */
    line-height: 1em;
}

#toggle-notes.active {
    background-color: #4CAF50;
    color: white;
}

/* color de las casillas que marcas tu */
.player-cell {
    background-color: #e0e0e0;
    font-weight: bold;
}

#win-message {
    animation: pop 1s ease-out forwards;
}

@keyframes pop {
    0% { transform: translate(-50%, -50%) scale(0); opacity: 0; }
    50% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
}